
.header{
  display: flex;
  max-width: 1250px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main.container{
  display: flex;
  max-width: 1250px;
  margin: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.card{
  flex-basis: 23%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card:nth-child(4n){
  margin-right: 0;
}

img{
  max-width: 100%;
}

.hide{
  display: none;
}